*{
    margin: 0px;
    padding: 0px;
}

::selection{
    background-color: burlywood;
    color: rgb(70, 40, 38);
}

html{
    scroll-behavior: smooth;
}

.nav{
    display: flex;
    align-items: center;
    /* position: relative; */
    position: sticky;
    top: 0px;
    z-index: 1;
    /* opacity: 0.4; */
} 

.nav::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}

.nav ul{
    color: white;
    display: flex;
}

.nav ul li{
    list-style: none;
}

.nav ul li a{
    color: white;
    display: block;
    text-decoration: none;
    /* margin: 10px; */
    padding: 5px 15px;
    border-radius: 20px;
}

.nav ul li a:hover{
    color: white;
    background-color: rgb(223, 41, 41);
    }

.nav img{
    height: 30px;
    width: 32px;
    margin: 11px 10px 7px 10px;
    border-radius: 17px;
}

#Home{
    display: flex;
    height: 630px;
    flex-direction: column;
    align-items: center;
    /* top: 0px;
    left: 0px; */
    justify-content: center;
    padding: 3px 40px;
}

#Home::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(https://source.unsplash.com/collection/190727/1600x900) no-repeat center center/cover;
    /* background: url(images/children.jpg) no-repeat center center/cover; */
    /* background-attachment: fixed; */
    height: 680px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#Home h1{
    color: white;
    text-align: center;
}

#Home p{
    color: white;
    text-align: center;
    /* font-size: 0.8rem; */
    padding-top: 10px;
}

#Home p1{
    color: white;
    text-align: center;
    /* font-size: 0.8rem; */
}

.btn{
    font-size: 20px;
    padding: 6px 30px;
    border: 2px solid white;
    background-color: orangered;
    /* background: transparent; */
    color:white;
    border-radius: 18px;
    margin: 15px;
    /* cursor: pointer; */
}

.btn:hover{
    background-color: rgb(82, 22, 0);
}

.center{
    text-align: center;
}

.h-primary{
    padding: 17px 5px 10px 5px ;
}

#services{
    display: flex;
    margin: 0px 25px 25px 25px;    
}

.box-1{
    border: 2px solid rgb(233, 38, 38);
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
}

.box-1 img{
    height: 220px;
    width: 190px;
    padding: 15px;
    /* background: transparent; */
    border-radius: 20px;
    margin: auto;
    display: block;
}

.box-1 p{
    padding: 20px;
    text-align: center;
    /* align-items: center;
    justify-content: center; */
}

/* Client-Section */

.Client-Section{
    /* height: 300px; */
    position: relative;
    align-items: center;
    justify-content: center;
    top:0px;
    left: 0px;
}

.Client-Section::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background:url(images/hardik.jpeg) no-repeat center center/cover;
    background-attachment: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    /* height: 20px; */
    /* background-color: rgb(158, 224, 36); */
}

.h-third{
    padding: 18px 5px 10px 5px;
}

.Clients{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Client-item{
    margin: 10px;
    padding: 10px 2px;
}

.Clients img{
    height: 100px;
}

/* Contact Section */

#Contact{
    position: relative;
}

#Contact::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background:url(images/hardik.jpeg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

.Contact-box{
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0px 30px 25px 22px;

}

.Contact-box input,
.Contact-box textarea{
    width: 100%;
    padding: 3px;
}

footer{
    height: 25px;
    background-color: black;
    color: white;
    padding: 11px 5px;
    justify-content: center;
    align-items: center; 
}









